@page
@model ErrorModel
@{
    ViewData["Title"] = "Survey";
}


<h6>Zebra IT Customer Survey Report</h6>

<iframe title="Zebra IT Customer Survey Report" width="1200" height="600" src="https://app.powerbi.com/reportEmbed?reportId=86c74c61-a0dd-4238-8a51-385c79470edf&autoAuth=true&ctid=4d3d260a-9c40-4306-8dac-0d64717039ec" frameborder="0" allowFullScreen="true"></iframe>
