@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 >Welcome to Zebra IT4IT Reports</h4>
    <table align="left">
        <tr align ="left">
   
       
            <a   asp-area="" asp-page="/Error">Zebra IT Customer Survey Report</a>
            <br/>

        
        </tr >
        <tr align ="left">
        
            <a  asp-area="" asp-page="/Privacy">Zebra Facility Dashboard</a>  
            <br />
        </tr>

        <tr align="left">
        
            <a  asp-area="" asp-page="/Index1">IT Roadmap</a>  

        </tr>

    </table>
</div>
