@page
@model Zebra_IT4IT_Reports.Pages.Index1Model
@{
    ViewData["Title"] = "Roadmap";
}

<h6>IT Roadmap</h6>


<iframe title="IT Roadmap" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f1862d70-60b4-4b0f-bb3c-8519d27eea78&autoAuth=true&ctid=4d3d260a-9c40-4306-8dac-0d64717039ec" frameborder="0" allowFullScreen="true"></iframe>