@page
@model PrivacyModel
@{
    ViewData["Title"] = "Dashboard";
}

<h6>Zebra Facility Dashboard</h6>

<iframe title="Zebra Facility Dashboard" width="1200" height="600" src="https://app.powerbi.com/reportEmbed?reportId=daf5c821-e2e6-4a22-89cf-9d244dc8a28e&autoAuth=true&ctid=4d3d260a-9c40-4306-8dac-0d64717039ec" frameborder="0" allowFullScreen="true"></iframe>

